{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-lg-3">

        <div class="small-box text-bg-primary">

            <div class="inner">

                <h3>{{ total_crimes }}</h3>

                <p>Total Crimes</p>

            </div>

            <div class="small-box-icon">

                <i class="fas fa-shield-alt"></i>

            </div>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="small-box text-bg-success">

            <div class="inner">

                <h3>{{ total_states }}</h3>

                <p>States</p>

            </div>

            <div class="small-box-icon">

                <i class="fas fa-map"></i>

            </div>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="small-box text-bg-warning">

            <div class="inner">

                <h3>{{ total_districts }}</h3>

                <p>Districts</p>

            </div>

            <div class="small-box-icon">

                <i class="fas fa-city"></i>

            </div>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="small-box text-bg-danger">

            <div class="inner">

                <h3>₹ {{ "{:,.0f}".format(total_loss) }}</h3>

                <p>Total Loss</p>

            </div>

            <div class="small-box-icon">

                <i class="fas fa-indian-rupee-sign"></i>

            </div>

        </div>

    </div>

</div>
<div class="row">

    <div class="col-lg-12">

        <div class="card">

            <div class="card-header">

                <h3 class="card-title">

                    Monthly Crime Trend

                </h3>

            </div>

            <div class="card-body">

                <canvas
                    id="monthlyCrimeChart"
                    height="110">
                </canvas>

            </div>

        </div>

    </div>

</div>

{% endblock %}